@import "form/form.css";
@import "form/__title/form__title.css";
@import "form/__task-title/form__task-title.css";
@import "form/__task-priority/form__task-priority.css";
@import "form/__task-form/form__task-form.css";
@import 'form/__task-description/form__task-description.css';
@import "form/__task-date/form__task-date.css";
@import "form/__task-add/form__task-add.css";
@import "form/__filter/form__filter.css";
@import "form/__filter-status/form__filter-status.css";
@import "form/__filter-preority/form__filter-preority.css";
@import "form/__filter-date/form__filter-date.css";
@import "form/__filter-apply/form__filter-apply.css";

@import "loading/loading.css";

@import "task-list/task-list.css";
@import "task-list/__task/task-list__task.css";
@import "task-list/__task-status/task-list__task-status.css";
@import "task-list/__task-actions/task-list__task-actions.css";
@import "task-list/__task-actions/task-list__task-actions_complete.css";
@import "task-list/__task-actions/task-list__task-actions_delete.css";
@import "task-list/__task-actions/task-list__task-actions_edit.css";
@import "task-list/__edit-title/task-list__edit-title.css";
@import "task-list/__edit-priority/task-list__edit-priority.css";
@import "task-list/__edit-description/task-list__edit-description.css";
@import "task-list/__edit-date/task-list__edit-date.css";
@import "task-list/__edit-actions/task-list__edit-actions.css";
@import "task-list/__edit-actions/task-list__edit-actions_cancel.css";
@import "task-list/__edit-actions/task-list__edit-actions_save.css";
@import "task-list/__task-title/task-list__task-title.css";
@import "task-list/__task-priority/task-list__task-priority.css";
@import "task-list/__task-description/task-list__task-description.css";
@import "task-list/__task-date/task-list__task-date.css";

@import "progress/progress.css";
@import "progress/__bar/progress__bar.css";
@import "progress/__text/progress__text.css";
@import "progress/__fill/progress__fill.css";


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 95%;
    margin: 15px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}








